<!-- <app-diretiva-ngclass></app-diretiva-ngclass> -->
<!-- <app-diretiva-ngif></app-diretiva-ngif> -->
<!-- <app-diretiva-ngswitch></app-diretiva-ngswitch> -->
<!-- <app-diretiva-ngfor></app-diretiva-ngfor> -->
<!-- <app-diretiva-ngstyle></app-diretiva-ngstyle> -->
<!-- <app-operador-elvis></app-operador-elvis> -->

<!-- <app-exemplo-ng-content>
    Componente passado para o componente!!
    <app-operador-elvis></app-operador-elvis>
</app-exemplo-ng-content> -->

<!-- <app-exemplo-ng-content>
    <div class="titulo">
        Título do painel
    </div>
    <div class="corpo">
        Corpo do painel
    </div>
</app-exemplo-ng-content> -->

<app-diretivas-customizadas></app-diretivas-customizadas>